@charset "utf-8";
/* CSS Document */

/* === General === */

body, html{

	width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-family: "Open Sans", sans-serif;
	font-size:13px;
	line-height: 1.6em;
	background:#fefefe;
	color:#333333;
	overflow:hidden;

}

img{

	outline:none;
	border:0px none;

}

a{

	outline: none;
	color:#339963;
	font-weight: bold;

}

/* === General === */

/* === Main Structure === */

#wrapper{

	position:relative;
	width:100%;
	height:100%;

}

#main-wrapper{

	position:absolute;
	top:0px;
	right:5px;
	height:100%;
	width:100%;
	z-index:1;
	background:#f9f9f9;

}

.skeleton-center, .skeleton-right, .skeleton-left{

	background:#fefefe;
	height:100%;
	padding:20px 0px 20px 0px;
	box-shadow:2px 0 1px rgba(0,0,0,0.2), -2px 0 1px rgba(0,0,0,0.2);

}

.skeleton-right{

	box-shadow:2px 0 1px rgba(0,0,0,0.2);
	margin-right:0px;

}

.skeleton-left{

	box-shadow:-2px 0 1px rgba(0,0,0,0.2);
	margin-left:0px;

}

.transparent, .skeleton-left .transparent, .skeleton-right .transparent, .skeleton-center .transparent{

	background:none;
	box-shadow:none;

}

.skeleton-center.not-full, .skeleton-right.not-full, .skeleton-left.not-full{

	height:auto;
	margin-top:30px;

}

/* === Main Structure === */

/* === Menu === */

#menu-wrapper{

	height:100%;
	position:absolute;
	right:-240px;
	top:0px;
	width:240px;
	background:#000000 url(../../images/menu-background.jpg) top right;
	border-left:5px solid #339963;
	border-bottom:0px solid #339963;
	box-shadow:2px 0 1px rgba(0,0,0,0.2);
	z-index:2;
	opacity:0;

}

#logo-wrapper{

	position: absolute;
	top:0px;
	right:50%;
	margin:20px 0px 0px -101px;

}

#loader{

    right: -130px;
	position: relative;
	top: 33px;
	opacity:0;

}

#percentage {

	color: #FEFEFE;
	font-size: 16px;
	font-weight: bold;
	right: 5px;
	position: relative;
	text-align: center;
	top: 9px;
	opacity:0;

}

#tablet-menu{

	position:absolute;
	bottom:20px;
	right:50%;
	width:300px;
	height:30px;
	margin:-20px 0px 0px -150px;
	display:none;
	z-index:999;

}

#tablet-menu select{

	margin:0px;
	background:#fefefe;

}

#menu{

	position:absolute;
	top:250px;
	width:280px;

}

.menu-item{

	position: relative;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:bold;
	letter-spacing: 1px;
	font-size:14px;
	width:245px;
	height:30px;
	display:block;
	opacity:0;

}

.menu-item a{

	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	padding:6px 0px 10px 20px;
	display:block;
	position: absolute;
	top:0px;
	text-decoration:none;
	color:#fefefe;
	z-index:2;
	width:225px;

}

.menu-background{

	position: absolute;
	top:-20px;
	right:0px;
	opacity:0;
	width:100%;
	height:34px;
	display:block;
	background:#339963;
	z-index:1;

}

.has-submenu{

	position: absolute;
	top:14px;
	left:20px;
	z-index:2;
	cursor:pointer;

}

.menu-item>.menu-item{

	display:none;
	opacity:0;
	position: absolute;
	top:20px;
	right:245px;
	height:auto;
	width:auto;
	background:#339963;
	box-shadow:2px 2px 1px rgba(0,0,0,0.2);
	padding-bottom:4px;
	z-index:9;

}

.menu-item>.menu-item a{

	width:auto;
	white-space:nowrap;
	padding:6px 20px 6px 20px;
	position: relative;
	word-wrap:normal;


}

#social-wrapper{

	text-align:center;
	position: absolute;
	bottom:20px;
	padding:0px 20px;

}

#social-wrapper img{

	width:26px;
	height:26px;
	opacity:0.5;

}

#menuButtons{

	position: absolute;
	bottom:20px;
	left:-40px;
	cursor: pointer;

}

#menuButtons .menuButton{

	background: #339963;
	width:26px;
	height:26px;
	margin:5px 0px;
	padding:8px 0px 0px 9px;
	box-shadow:2px 2px 1px rgba(0,0,0,0.2);

}

#menuButtons #hideMenu.menuVisible{

	background:#339963 url(../../images/hide.png) no-repeat center;

}

#menuButtons #hideMenu.menuInVisible{

	background:#339963 url(../../images/show.png) no-repeat center;

}

/* === Menu === */

/* === Full Page === */

.full-width-page{

	height:100%;
	width:100%;

}

.full-width-image{

	width:100%;
	margin:0px auto;
	text-align:center;
	overflow:hidden;

}

.full-width-background{

	height:100%;
	width:100%;
	overflow:hidden;
	position:fixed;
	top:0px;

}

.full-width-image>img{

	width:100%;

}

.full-width-background>img{

	min-height:100%;
	position: absolute;
	left:0px;
	top:0px;

}

.full-width-text{

	padding:0px 25px;

}

/* === Full Page === */

/* === Gallery and Portfolio === */

.filter-box a.button:first-child{

	margin-right:10px;

}

#gallery{

	height:100%;
	width:100%;

}

.masonryImage, .masonryBlogPost{

	width:20%;
	height:auto;
	position:relative;
	padding:0;
	display:block;

}

.masonryBlogPost{

	width:24.9%;
	background:none;

}

.masonryBlogPost>div{

	padding:0px 20px;

}

.masonryBlogPost .blog-post{

	margin-bottom:40px;

}

.masonryBlogPost .full-width-image{

	margin-bottom:15px;

}

.simpleImage, .galleryImage{

	float:right;
	position:relative;
	height:200px;
	width:25%;
	background:#339963;
	overflow: hidden;
	display:block;

}

.galleryImage span.description{

	display:none;

}

.galleryImage{

	margin-bottom:20px;
	background:none;

}

.galleryImage.faded:hover{

	cursor: default;

}

#hover-item{

	background:#339963;
	position:absolute;
	z-index:1;

}

.masonryImage{

	overflow:hidden;

}

.masonryImage:hover, .simpleImage:hover, .galleryImage:hover{

	cursor:pointer;

}

.galleryImage img.item, .simpleImage img.item{

	width:101%;

}

.masonryImage img.item, .masonryBlogPost img.item{

	float: right;
    margin: 0;
    padding: 0;
    width: 100%;

}

.masonryImage img.item{

    margin: 0;
    padding: 0;

}

.masonryImage img.icon, .simpleImage img.icon, .masonryBlogPost img.icon, .galleryImage img.icon{

	opacity:0;
	position:absolute;
	top:50%;
	right:50%;
	z-index:10;

}

.masonryImage p, .simpleImage p{

	opacity:0;
	display:none;

}

span.description{

	opacity:0;
	position: absolute;
	top:50%;
	right:50%;
	color:#fefefe;
	font-size:20px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight:bold;
	display: block;
	height:20px;
	z-index:10;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

#onclickWrapper{

	width:100%;
	height:100%;
	opacity:0;
	z-index:999999999;
	position:absolute;
	top:0px;
	right:0px;
	display:none;

}

#onclickDescriptionWrapper{

	position:absolute;
	opacity:0;
	left:0px;
	top:40px;
	height:100%;
	width:300px;
	background:#fefefe;

}

#onclickDescriptionWrapper>div{

	padding:0px 20px 20px 20px;

}

#onclickDescriptionWrapper h2{

	padding-bottom:20px;
	border-bottom:1px solid #EEEEEE;

}

#onclickDescriptionWrapper p{

	margin-bottom:70px;

}

#onclickItemWrapper{

	right:0px;
	top:-40px;
	position:absolute;
	height:100%;
	opacity:0;

}

#onclickItemWrapper>*{

	position:absolute;
	top:50%;
	right:50%;
	height:80%;
	cursor: pointer;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);

}

span.itemDescription{

	text-align: center;
	position:fixed;
	float:right;
	width:100%;
	bottom:-40px;
	right:0px;
	background:#000000;
	padding:10px 20px;
	color:#fefefe;
	opacity:0;

}

#onclickBackground{

	background:#000000;
	width:100%;
	height:100%;
	opacity:0.9;

}

#onclickButtons{

	position:absolute;
	bottom:20px;
	right:20px;
	width:100%;

}

#imagePreloader{

	opacity:0;
	display:none;
	position:fixed;
	top:-9999px;
	right:-9999px;

}

.closeButton, .previousButton, .nextButton, .playButton, a.button{

	padding:20px;
	display:inline-block;
	margin:0px 10px 0px 0px;

}

a.button{

	background:#000000;
	color:#fefefe;
	padding:7px 10px;
	text-decoration: none;

}

.closeButton{

	position:absolute;
	top:20px;
	left:10px;
	background:#000000 url(../../images/close.png) center no-repeat;

}

.previousButton{

	position:absolute;
	top:50%;
	right:20px;
	background:#000000 url(../../images/previous.png) center no-repeat;

}

.playButton{

	position:absolute;
	top:20px;
	left:80px;
	background:#000000 url(../../images/video.png) center no-repeat;

}

.nextButton{

	position:absolute;
	top:50%;
	left:10px;
	background:#000000 url(../../images/next.png) center no-repeat;

}

.itemCount{

	position:absolute;
	top:20px;
	left:60px;

}

#onclickButtons .closeButton{

	float:left;
	margin-left:40px;

}

#onclickButtons .previousButton, #onclickButtons .playButton, #onclickButtons .nextButton, #onclickButtons .closeButton{

	position: relative;
	top:0px;
	right:0px;
	left:0px;

}

.disabledButton{

	opacity:0.5;

}

.closeButton:hover, .previousButton:hover, .nextButton:hover, .playButton:hover, a.button:hover{

	cursor: pointer;

}

.closeButton.disabledButton:hover, .previousButton.disabledButton:hover, .nextButton.disabledButton:hover, .playButton.disabledButton:hover, a.button.disabledButton:hover{

	cursor: default;

}

/* === Gallery and Portfolio === */

/* === Contact === */

#googleMap{

	height:100%;

}

#messageForm-contact{

	overflow:hidden;

}

#loadingForm{
	
	z-index:999;
	float:left;
	height:16px;
	width:16px;
	background:url(../../images/loading.gif) no-repeat;
	
}

#contact-notice.error{

	color:#990000;

}

#contact-notice.ok{

	color:#009900;

}

#contact-notice.alert{

	color:#998500;

}

span.contact-details{

	font-weight:bold;
	display:inline-block;
	width:200px;

}

#contact-form-buttons, #loadingForm{

	margin-top:10px;

}

/* === Contact === */

/* === 404 Error === */

h1.errorHeading{

	font-size:160px;
	font-weight: bold;
	padding:100px 0px 100px 0px;

}

h2.errorSubHeading{

	color:#666666;
	padding-bottom:10px;

}

/* === 404 Error === */

/* === Colors === */

.colour-picker img{

	opacity:0.5;

}

/* === Colors === */

/* === Blog Post, List, Masonry === */

.block, .blog-post, .about-circle{

	margin-bottom:60px;
	position:relative;
	z-index:9;

}

.about-circle{

	margin-bottom:0px;

}

.blog-post{

	border-top:1px solid #eeeeee;
	padding:10px 20px 20px 20px;

}

.blog-post:first-child{

	border-top:0px none;

}

.masonryBlogPost .blog-post{

	padding-top:2px;
	border:1px solid #cccccc;
	box-shadow:0px 0px 5px rgba(0,0,0,0.2);
	margin:5px;

}

div.blog-post p{

	margin-bottom:20px;

}

div.blog-info{

	padding:2px 10px;
	background:#339963;
	color:#fefefe;
	font-size:12px;
	margin:-10px 0px 15px 0px;
	position:relative;
	z-index:0;
	clear:both;

}

div.blog-background{

	z-index:-1;
	width:100%;
	position:absolute;
	background:#339963;
	top:-40px;
	opacity:0;
	right:0px;

}

div.blog-post-light{

	z-index:999;

}

div.blog-post-light h1, div.blog-post-light h2, div.blog-post-light h3, div.blog-post-light h4, div.blog-post-light h5, div.blog-post-light h6, div.blog-post-light div.cite{

	color:#fefefe;

}

div.blog-post-light p, div.blog-post-light span.drop-cap2, div.blog-post-light span.drop-cap1, div.blog-post-light a{

	color:#dedede;

}

div.blog-post-light .blog-info{

	opacity:0;

}

div.blog-post-light blockquote p{

	color:#555555;

}

div.blog-post:hover, div.blog-background:hover, div.about-circle:hover{

	cursor: pointer;

}

a.blog-post-link{

	display:none;
	opacity:0;
	visibility: none;

}

span.blog-comments{

	margin-right:20px;
	float:left;
	background:url(../../images/comments.png) right center no-repeat;
	padding-right:20px;
	display:inline-block;

}

span.blog-likes{

	float:left;
	margin-right:20px;
	background:url(../../images/check.png) right center no-repeat;
	padding-right:20px;
	display:inline-block;

}

div.blog-info a{

	color:#fefefe;
	text-decoration: none;

}

div.shareit{

	margin:0px -5px 0px 0px;
	float:left;

}

img.main-blog-image{

	margin:40px 0px 30px 0px;

}

h5.circle-heading{

	color:#666666;

}

.fb-comments, .fb-comments span, .fb-comments iframe {width: 100% !important;}

/* === Blog Post, List, Masonry === */

/* === Typography === */

h1,h2,h3,h4,h5,h6{
	
	color:#222222;
	margin: 20px 0px 20px;	
	text-transform: uppercase;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight:bold;
	letter-spacing: 1px;

}

h1{

	font-size:2em;
	
}

h2{

	font-size: 1.8em;

}

h3{

	font-size: 1.6em;

}

h4{

	font-size: 1.4em;

}

h5{

	font-size: 1.2em;

}

h6{

	font-size: 0.9em;

}

h1.first,h2.first,h3.first, h4.first, h5.first{
	
	margin-top:0px;	
	
}

ul, ol{

	padding-right:0px;

}

ul li{

	list-style: none;
	padding:0px 0px 5px 30px;
	background:url(../../images/li-background1.png) 5px 5px no-repeat;

}

ul.style2 li{

	padding:0px 0px 5px 30px;
	background:url(../../images/li-background2.png) 5px 7px no-repeat;

}

ul.style3 li{

	padding:0px 0px 5px 30px;
	background:url(../../images/li-background3.png) 5px 5px no-repeat;

}

ul.style4 li{

	padding:0px 0px 5px 30px;
	background:url(../../images/li-background4.png) 5px 5px no-repeat;

}

ol li{

	padding:0px 0px 5px 10px;
	background: none;

}

ul li a, ol li a{

	text-decoration: none;
	color:#444444;

}

ul li a:hover, ol li a:hover{

	text-decoration: underline;

}

blockquote{

	background: url("../../images/blockquote.png") 15px 15px no-repeat #dddddd;
	display: block;
	padding: 10px 10px 10px 70px;
	position: relative;
	color:#666666;
	margin:0px 0px 50px;

}

blockquote .cite{

	position:absolute;
	background: url("../../images/cite.png") no-repeat scroll 45px -5px transparent;
	padding: 35px 0 0;
	left:0px;
	bottom:-45px;
	display: block;
	clear:both;

}

blockquote p{

	margin-bottom:0px;

}

table{

	background: none repeat scroll 0 0 #DDDDDD;
    border-collapse: separate;
    width: 100%;
    margin-bottom:20px;

}

tr:nth-child(2n){

	background:#BBBBBB;

}

td, th{

	border-right:1px solid rgba(0,0,0,0.1);
	padding:10px;

}

th{

	text-transform: uppercase;
	font-weight: bold;
	background:#339963;
	color:#fefefe;

}

span.highlight-dark{

	background:#393939;
	color:#bbbbbb;
	padding:0px 10px;
	font-weight:bold;

}

span.highlight{

	background:#bbbbbb;
	color:#222222;
	padding:0px 10px;
	font-weight:bold;

}

p{

	margin:0px 0px 30px;

}

p.last{

	margin:0px;

}

span.drop-cap2, span.drop-cap1{

	display:inline-block;
	float:right;
	padding:20px;
	margin:0px;
	background:none;
	color:#555555;
	font-size:30px;
	font-weight:bold;

}

span.drop-cap2{

	color:#fefefe;
	background:#BABABA;
	margin:10px 20px 20px 0px;

}

input[type=text], input[type=password], textarea, select{
	
	background: rgba(0, 0, 0, 0.1);
	border: 0 none;
	margin: 5px 0;
	width: 440px;
	color:#777777;
	display:inline-block; 
	width:100%;
	padding:10px;
	border-width:0;
	
}

input[type=text].error, input[type=password].error, textarea.error, select.error{

	background-color:rgba(0,0,0,0.2);

}

select{

	padding:10px 7px;
	border:0px none;
	outline: none;
	margin:0px;
	overflow:hidden;
	-webkit-appearance: listbox;

}

textarea{
	
	height:150px;
		
}

/* === Structure === */

.centered{

	margin:0px auto;
	text-align: center;

}

.clear {

    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;

}

.full-column{

	width:100%;

}

.half-column{

	width:49%;

}

.one-third-column{

	width:32%;

}

.one-fourth-column{

	width:23.5%;

}

.one-fifth-column{

	width:18.4%;

}

.half-column, .one-third-column, .one-fourth-column, .one-fifth-column{

	margin-left:2%;
	float:right;

}

.half-column.last, .one-third-column.last, .one-fourth-column.last, .one-fifth-column.last{

	margin-left:0;

}

.padding-left-25{

	padding-left:25px;

}

.padding-right-25{

	padding-right:25px;

}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{

	background:#339963;

}

/* === Transitions === */

#masonryGallery, #gallery, #masonryBlog
#masonryGallery .masonryImage, #masonryBlog .masonryBlogPost, #gallery .simpleImage {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#masonryGallery, #masonryBlog, #gallery {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

#masonryGallery .masonryImage, #masonryBlog .masonryBlogPost, #gallery .simpleImage {
  -webkit-transition-property: right, left, top, width, height;
     -moz-transition-property: right, left, top, width, height;
      -ms-transition-property: right, left, top, width, height;
       -o-transition-property: right, left, top, width, height;
          transition-property: right, left, top, width, height;
}
